services:
  backend:
    image: busca-sinpet-backend:0.9.9
    build:
      context: .
      dockerfile: docker/Dockerfile-backend
    container_name: busca-sinpet-back
    networks:
      - busca-sinpet-net
    expose:
      - "8000"
    ports: # Only DEV
      - "255:8000" # Only DEV
    environment:
      BUSCA_SINPET_APP_TOKEN: ${BUSCA_SINPET_APP_TOKEN}
      BUSCA_SINPET_PATH: /
      TEMP_FS: /tmp
      LOG_PATH: /log
    volumes:
      - type: bind
        source: ${BUSCA_SINPET_PATH}/data
        target: /data
      - type: bind
        source: ${BUSCA_SINPET_PATH}/log
        target: /log
    tmpfs:
      - /tmp
    depends_on:
      sinpet-db:
        condition: service_healthy

  sinpet-sync:
    image: busca-sinpet-sync:0.10.2
    build:
      context: .
      dockerfile: docker/Dockerfile-sync
    container_name: busca-sinpet-sync
    networks:
      - busca-sinpet-net
      - credential-net
    environment:
      BUSCA_SINPET_APP_TOKEN: ${BUSCA_SINPET_APP_TOKEN}
      BUSCA_SINPET_PATH: /
      BUSCA_SINPET_USER_TOKEN: ${BUSCA_SINPET_USER_TOKEN}
      SHAREPOINT_APPLICATION_ID: ${SHAREPOINT_APPLICATION_ID}
      SHAREPOINT_TENANT_ID: ${SHAREPOINT_TENANT_ID}
      SHAREPOINT_SCOPE: ${SHAREPOINT_SCOPE}
      SHAREPOINT_CLIENT_CREDENTIAL: ${SHAREPOINT_CLIENT_CREDENTIAL}
      CREDENTIAL_APP_TOKEN: ${CREDENTIAL_APP_TOKEN}
      TEMP_FS: /tmp
      LOG_PATH: /logs
    volumes:
      - type: bind
        source: ${BUSCA_SINPET_PATH}/data
        target: /data
      - type: bind
        source: ${BUSCA_SINPET_PATH}/log
        target: /logs
    tmpfs:
      - /tmp
    depends_on:
      sinpet-db:
        condition: service_healthy

  sinpet-db:
    image: busca-sinpet-postgres:0.1.3
    build:
      context: .
      dockerfile: docker/Dockerfile-db-nota-ri
    container_name: busca-sinpet-db
    networks:
      - busca-sinpet-net
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sinpet
    expose:
      - "5432"
    ports: # Only DEV
      - "5432:5432" # Only DEV
    volumes:
      - sinpet_postgres_data:/var/lib/postgresql/data
      - sinpet_postgres_fts:/var/share/postgresql/17
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d sinpet"]
      interval: 5s
      retries: 5
      timeout: 3s

  nota-ri-db:
    image: nota-ri-postgres:0.0.1
    build:
      context: .
      dockerfile: docker/Dockerfile-db-nota-ri
    container_name: nota-ri-db
    networks:
      - busca-net
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nota_ri
    expose:
      - "5432"
    ports: # Only DEV
      - "5432:5432" # Only DEV
    volumes:
      - sinpet_postgres_data:/var/lib/postgresql/data
      - sinpet_postgres_fts:/var/share/postgresql/17
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d sinpet"]
      interval: 5s
      retries: 5
      timeout: 3s

volumes:
  sinpet_postgres_data:
    driver: local
  busca_sinpet_data:
    driver: local
  sinpet_postgres_fts:
    driver: local

networks:
  busca-sinpet-net:
    external:
      name: busca-net
  credential-net:
    external:
      name: credential-net
